{% extends 'base.html' %}
{% block content %}
    <h1>About Page</h1>
<div class="mt-3">
 <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Last Post</th>
      <th scope="col">Total Posts</th>
    </tr>
  </thead>
  <tbody>
  {% for i in range(posts|length)%}
      <tr>
      <td> {{ users[i].username }} </td>
          {% if posts[i] != None%}
      <td> {{ posts[i].date_posted.strftime('%Y-%m-%d') }} </td>
              {% else %}
              <td>User has not yet posted anything</td>
          {% endif %}
      <td>{{ count[i] }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}